* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #0095dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

canvas {
  background: #f0f0f0;
  display: block;
}
